{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/pulls?state=closed&per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/dvorakj31/filabel/pulls/3\",\"id\":223559514,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjIzNTU5NTE0\",\"html_url\":\"https://github.com/dvorakj31/filabel/pull/3\",\"diff_url\":\"https://github.com/dvorakj31/filabel/pull/3.diff\",\"patch_url\":\"https://github.com/dvorakj31/filabel/pull/3.patch\",\"issue_url\":\"https://api.github.com/repos/dvorakj31/filabel/issues/3\",\"number\":3,\"state\":\"closed\",\"locked\":false,\"title\":\"Create a\",\"user\":{\"login\":\"hroncok\",\"id\":2401856,\"node_id\":\"MDQ6VXNlcjI0MDE4NTY=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2401856?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hroncok\",\"html_url\":\"https://github.com/hroncok\",\"followers_url\":\"https://api.github.com/users/hroncok/followers\",\"following_url\":\"https://api.github.com/users/hroncok/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hroncok/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hroncok/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hroncok/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hroncok/orgs\",\"repos_url\":\"https://api.github.com/users/hroncok/repos\",\"events_url\":\"https://api.github.com/users/hroncok/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hroncok/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2018-10-17T11:04:35Z\",\"updated_at\":\"2018-12-03T09:26:01Z\",\"closed_at\":\"2018-10-17T11:05:01Z\",\"merged_at\":null,\"merge_commit_sha\":\"4d2db339cad58ac5989adb03251e4dd9d7b99a49\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1093615642,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjQy\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/a\",\"name\":\"a\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615658,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU4\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/ab\",\"name\":\"ab\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615659,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU5\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/abc\",\"name\":\"abc\",\"color\":\"f16a22\",\"default\":false},{\"id\":1094347955,\"node_id\":\"MDU6TGFiZWwxMDk0MzQ3OTU1\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/z\",\"name\":\"z\",\"color\":\"f16a22\",\"default\":false}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/dvorakj31/filabel/pulls/3/commits\",\"review_comments_url\":\"https://api.github.com/repos/dvorakj31/filabel/pulls/3/comments\",\"review_comment_url\":\"https://api.github.com/repos/dvorakj31/filabel/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/dvorakj31/filabel/issues/3/comments\",\"statuses_url\":\"https://api.github.com/repos/dvorakj31/filabel/statuses/c86a4f22e74ffceab3fde8f9eac500ca4d3063dd\",\"head\":{\"label\":\"hroncok:hroncok-patch-1\",\"ref\":\"hroncok-patch-1\",\"sha\":\"c86a4f22e74ffceab3fde8f9eac500ca4d3063dd\",\"user\":{\"login\":\"hroncok\",\"id\":2401856,\"node_id\":\"MDQ6VXNlcjI0MDE4NTY=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2401856?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hroncok\",\"html_url\":\"https://github.com/hroncok\",\"followers_url\":\"https://api.github.com/users/hroncok/followers\",\"following_url\":\"https://api.github.com/users/hroncok/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hroncok/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hroncok/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hroncok/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hroncok/orgs\",\"repos_url\":\"https://api.github.com/users/hroncok/repos\",\"events_url\":\"https://api.github.com/users/hroncok/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hroncok/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":153442640,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTM0NDI2NDA=\",\"name\":\"filabel-1\",\"full_name\":\"hroncok/filabel-1\",\"private\":true,\"owner\":{\"login\":\"hroncok\",\"id\":2401856,\"node_id\":\"MDQ6VXNlcjI0MDE4NTY=\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/2401856?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/hroncok\",\"html_url\":\"https://github.com/hroncok\",\"followers_url\":\"https://api.github.com/users/hroncok/followers\",\"following_url\":\"https://api.github.com/users/hroncok/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/hroncok/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/hroncok/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/hroncok/subscriptions\",\"organizations_url\":\"https://api.github.com/users/hroncok/orgs\",\"repos_url\":\"https://api.github.com/users/hroncok/repos\",\"events_url\":\"https://api.github.com/users/hroncok/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/hroncok/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/hroncok/filabel-1\",\"description\":\"Repository for school projects of subject MI-PYT\",\"fork\":true,\"url\":\"https://api.github.com/repos/hroncok/filabel-1\",\"forks_url\":\"https://api.github.com/repos/hroncok/filabel-1/forks\",\"keys_url\":\"https://api.github.com/repos/hroncok/filabel-1/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/hroncok/filabel-1/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/hroncok/filabel-1/teams\",\"hooks_url\":\"https://api.github.com/repos/hroncok/filabel-1/hooks\",\"issue_events_url\":\"https://api.github.com/repos/hroncok/filabel-1/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/hroncok/filabel-1/events\",\"assignees_url\":\"https://api.github.com/repos/hroncok/filabel-1/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/hroncok/filabel-1/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/hroncok/filabel-1/tags\",\"blobs_url\":\"https://api.github.com/repos/hroncok/filabel-1/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/hroncok/filabel-1/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/hroncok/filabel-1/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/hroncok/filabel-1/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/hroncok/filabel-1/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/hroncok/filabel-1/languages\",\"stargazers_url\":\"https://api.github.com/repos/hroncok/filabel-1/stargazers\",\"contributors_url\":\"https://api.github.com/repos/hroncok/filabel-1/contributors\",\"subscribers_url\":\"https://api.github.com/repos/hroncok/filabel-1/subscribers\",\"subscription_url\":\"https://api.github.com/repos/hroncok/filabel-1/subscription\",\"commits_url\":\"https://api.github.com/repos/hroncok/filabel-1/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/hroncok/filabel-1/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/hroncok/filabel-1/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/hroncok/filabel-1/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/hroncok/filabel-1/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/hroncok/filabel-1/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/hroncok/filabel-1/merges\",\"archive_url\":\"https://api.github.com/repos/hroncok/filabel-1/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/hroncok/filabel-1/downloads\",\"issues_url\":\"https://api.github.com/repos/hroncok/filabel-1/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/hroncok/filabel-1/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/hroncok/filabel-1/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/hroncok/filabel-1/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/hroncok/filabel-1/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/hroncok/filabel-1/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/hroncok/filabel-1/deployments\",\"created_at\":\"2018-10-17T11:03:55Z\",\"updated_at\":\"2018-10-17T11:03:57Z\",\"pushed_at\":\"2018-10-17T11:04:47Z\",\"git_url\":\"git://github.com/hroncok/filabel-1.git\",\"ssh_url\":\"git@github.com:hroncok/filabel-1.git\",\"clone_url\":\"https://github.com/hroncok/filabel-1.git\",\"svn_url\":\"https://github.com/hroncok/filabel-1\",\"homepage\":null,\"size\":9,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"license\":null,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"dvorakj31:master\",\"ref\":\"master\",\"sha\":\"1b809297fd3c9ecb27f0021901b80935424dabd1\",\"user\":{\"login\":\"dvorakj31\",\"id\":19674415,\"node_id\":\"MDQ6VXNlcjE5Njc0NDE1\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/19674415?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/dvorakj31\",\"html_url\":\"https://github.com/dvorakj31\",\"followers_url\":\"https://api.github.com/users/dvorakj31/followers\",\"following_url\":\"https://api.github.com/user[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/pulls?state=closed&per_page=100&page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4984"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"d3f50fafe486368d96a58718727b42c2\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"], "Link": ["<https://api.github.com/repositories/151836985/pulls?state=closed&per_page=100&page=1>; rel=\"prev\", <https://api.github.com/repositories/151836985/pulls?state=closed&per_page=100&page=1>; rel=\"last\", <https://api.github.com/repositories/151836985/pulls?state=closed&per_page=100&page=1>; rel=\"first\""]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/dvorakj31/filabel/pulls?state=closed&per_page=100&page=2"}, "recorded_at": "2018-12-03T09:28:38"}], "recorded_with": "betamax/0.8.1"}