{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/pulls/1267650600228229401496703205376/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/pulls/#list-pull-requests-files\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["404 Not Found"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4976"], "X-RateLimit-Reset": ["1543832757"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/dvorakj31/filabel/pulls/1267650600228229401496703205376/files?per_page=100&page=1"}, "recorded_at": "2018-12-03T09:28:42"}], "recorded_with": "betamax/0.8.1"}