{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/pulls/3/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"8b137891791fe96927ad78e64b0aad7bded08bdc\",\"filename\":\"a\",\"status\":\"added\",\"additions\":1,\"deletions\":0,\"changes\":1,\"blob_url\":\"https://github.com/dvorakj31/filabel/blob/c86a4f22e74ffceab3fde8f9eac500ca4d3063dd/a\",\"raw_url\":\"https://github.com/dvorakj31/filabel/raw/c86a4f22e74ffceab3fde8f9eac500ca4d3063dd/a\",\"contents_url\":\"https://api.github.com/repos/dvorakj31/filabel/contents/a?ref=c86a4f22e74ffceab3fde8f9eac500ca4d3063dd\",\"patch\":\"@@ -0,0 +1 @@\\n+\"},{\"sha\":\"8b137891791fe96927ad78e64b0aad7bded08bdc\",\"filename\":\"z\",\"status\":\"added\",\"additions\":1,\"deletions\":0,\"changes\":1,\"blob_url\":\"https://github.com/dvorakj31/filabel/blob/c86a4f22e74ffceab3fde8f9eac500ca4d3063dd/z\",\"raw_url\":\"https://github.com/dvorakj31/filabel/raw/c86a4f22e74ffceab3fde8f9eac500ca4d3063dd/z\",\"contents_url\":\"https://api.github.com/repos/dvorakj31/filabel/contents/z?ref=c86a4f22e74ffceab3fde8f9eac500ca4d3063dd\",\"patch\":\"@@ -0,0 +1 @@\\n+\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4978"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"fee1022428bf5a091edf6cc7cc25354f\""], "Last-Modified": ["Thu, 22 Nov 2018 16:06:02 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/dvorakj31/filabel/pulls/3/files?per_page=100&page=1"}, "recorded_at": "2018-12-03T09:28:42"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/pulls/3/files?per_page=100&page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4977"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"d3f50fafe486368d96a58718727b42c2\""], "Last-Modified": ["Thu, 22 Nov 2018 16:06:02 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"], "Link": ["<https://api.github.com/repositories/151836985/pulls/3/files?per_page=100&page=1>; rel=\"prev\", <https://api.github.com/repositories/151836985/pulls/3/files?per_page=100&page=1>; rel=\"last\", <https://api.github.com/repositories/151836985/pulls/3/files?per_page=100&page=1>; rel=\"first\""]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/dvorakj31/filabel/pulls/3/files?per_page=100&page=2"}, "recorded_at": "2018-12-03T09:28:42"}], "recorded_with": "betamax/0.8.1"}