{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"dvorakj31\",\"id\":19674415,\"node_id\":\"MDQ6VXNlcjE5Njc0NDE1\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/19674415?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/dvorakj31\",\"html_url\":\"https://github.com/dvorakj31\",\"followers_url\":\"https://api.github.com/users/dvorakj31/followers\",\"following_url\":\"https://api.github.com/users/dvorakj31/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/dvorakj31/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/dvorakj31/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/dvorakj31/subscriptions\",\"organizations_url\":\"https://api.github.com/users/dvorakj31/orgs\",\"repos_url\":\"https://api.github.com/users/dvorakj31/repos\",\"events_url\":\"https://api.github.com/users/dvorakj31/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/dvorakj31/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":\"\",\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"public_repos\":9,\"public_gists\":0,\"followers\":0,\"following\":0,\"created_at\":\"2016-05-31T20:06:50Z\",\"updated_at\":\"2018-11-23T09:15:58Z\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4986"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"0bc240125f6da7907a68ea5765d9af09\""], "Last-Modified": ["Fri, 23 Nov 2018 09:15:58 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2018-12-03T09:28:37"}], "recorded_with": "betamax/0.8.1"}