{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "DELETE", "uri": "https://api.github.com/repos/dvorakj31/filabel/issues/3/labels/test"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1093615642,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjQy\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/a\",\"name\":\"a\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615658,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU4\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/ab\",\"name\":\"ab\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615659,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU5\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/abc\",\"name\":\"abc\",\"color\":\"f16a22\",\"default\":false},{\"id\":1094347955,\"node_id\":\"MDU6TGFiZWwxMDk0MzQ3OTU1\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/z\",\"name\":\"z\",\"color\":\"f16a22\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4979"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"ff3ca6f69b5df04b5674555a83ba4a69\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/dvorakj31/filabel/issues/3/labels/test"}, "recorded_at": "2018-12-03T09:28:41"}], "recorded_with": "betamax/0.8.1"}