{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/beeclust/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1121076317,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzE3\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true},{\"id\":1121076318,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzE4\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/duplicate\",\"name\":\"duplicate\",\"color\":\"cfd3d7\",\"default\":true},{\"id\":1121076320,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzIw\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/enhancement\",\"name\":\"enhancement\",\"color\":\"a2eeef\",\"default\":true},{\"id\":1121076323,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzIz\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/good%20first%20issue\",\"name\":\"good first issue\",\"color\":\"7057ff\",\"default\":true},{\"id\":1121076321,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzIx\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/help%20wanted\",\"name\":\"help wanted\",\"color\":\"008672\",\"default\":true},{\"id\":1121076324,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzI0\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/invalid\",\"name\":\"invalid\",\"color\":\"e4e669\",\"default\":true},{\"id\":1121076326,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzI2\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/question\",\"name\":\"question\",\"color\":\"d876e3\",\"default\":true},{\"id\":1121076328,\"node_id\":\"MDU6TGFiZWwxMTIxMDc2MzI4\",\"url\":\"https://api.github.com/repos/dvorakj31/beeclust/labels/wontfix\",\"name\":\"wontfix\",\"color\":\"ffffff\",\"default\":true}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4982"], "X-RateLimit-Reset": ["1543832757"], "ETag": ["\"ea9406d51c9b915a14e5b6e611162e5e\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/dvorakj31/beeclust/labels"}, "recorded_at": "2018-12-03T09:28:39"}], "recorded_with": "betamax/0.8.1"}