{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <GH_TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/dvorakj31/filabel/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1093615642,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjQy\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/a\",\"name\":\"a\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615658,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU4\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/ab\",\"name\":\"ab\",\"color\":\"f16a22\",\"default\":false},{\"id\":1093615659,\"node_id\":\"MDU6TGFiZWwxMDkzNjE1NjU5\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labels/abc\",\"name\":\"abc\",\"color\":\"f16a22\",\"default\":false},{\"id\":1081421194,\"node_id\":\"MDU6TGFiZWwxMDgxNDIxMTk0\",\"url\":\"https://api.github.com/repos/dvorakj31/filabel/labe[...]
